################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UPB/Year III/Semester 1/Advanced Computer Graphics/Laboratory_4/.vs/ACG_Lab4/v17/Browse.VC.opendb
/UPB/Year III/Semester 1/Advanced Computer Graphics/Laboratory_5/.vs/ACG_Lab5/v17/Browse.VC.opendb
